*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}



h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #2DF7B6;
}

@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}



/*헤더*/


/*헤더*/
header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background-color:#161826b7;
}

header .hd_all {
  width: 85%;
  margin: 0 auto;
}

.hd_all hgroup {
  float: left;
}

.hd_all hgroup h1 {
  line-height: 100px;
}

.hd_all hgroup img {
  max-width: 100%;
  transition: all .2s ease-in-out;
}

.hd_all hgroup img:hover {
  transform: scale(1.1);
}

.hd_all .pc_wrap {
  text-align: center;
}

@keyframes bell {

  0%,
  50% {
    transform: rotate(0deg);
  }

  5%,
  15%,
  25%,
  35%,
  45% {
    transform: rotate(13deg);
  }

  10%,
  20%,
  30%,
  40% {
    transform: rotate(-13deg);
  }
}




.pc_wrap ul li {
  text-align: center;
  line-height: 100px;
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
}

.pc_wrap ul:last-child{
  margin-right: 0;
}

.pc_wrap ul li:last-child {
  margin-right: 0;
}

.pc_wrap ul li a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  font-weight: 500;
}

.pc_wrap ul li a::after {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 3px;
  content: '';
  background: #2CFEB9;
  transition: all 0.3s;
}
.pc_wrap ul li a.lan{
  background: #2CFEB9;
  padding: 10px 20px;
  border-radius: 30px;
  color: #222222;
  transition: all .3s;
}

.pc_wrap ul li a.lan:hover{
  background: #222222;
  color: #fff;
  clear: both;
  box-shadow: 0 0 10px 0 #2CFEB9 inset, 0 0 10px 4px #2CFEB9;
}

.pc_wrap ul li a.lan::after{
  display: none;
}

.pc_wrap ul li a::before {
  left: 0px;
  top: 0px;
}

.pc_wrap ul li a::after {
  right: 0px;
  bottom: 0px;
}

.pc_wrap ul li a:hover::before,
.pc_wrap ul li a:hover::after {
  opacity: 1;
  height: 5px;
  width: 100%;
}

.hd_all .pc_wrap ul li.eng_site a:hover::after,
.hd_all .pc_wrap ul li.eng_site a:hover::before {
  display: none;

}

.hd_all .pc_wrap ul li.eng_site a:hover img {
  animation: bell 2s infinite linear;
}



/*반응형*/
.hd_all .menu-btn {
  display: none;
  line-height: 100px;
}

.wrapper {
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.87);
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper {
  /*left: 0;*/
  right: 0;
  overflow:hidden;
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 35px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 12%;
  width: 75%;
  border-bottom: 3px solid #2CFEB9;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}


.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
  transform: scaleX(0);
}

#active:checked+.menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}

#active:checked+.menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  overflow:hidden;
}

.wrapper ul li {
  height: 7%;
  margin: 32px auto;
  text-align: center;
  width: 100%;
}

.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  transform: translateY(-50%);
  line-height: 3;
  margin: 5px auto;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
  max-width: 100%;
  position: relative;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #2CFEB9;
}

input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

#active:checked~.wrapper ul li a {
  opacity: 1;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked~.wrapper ul li a.lan{
  background: #2CFEB9;
  padding: 10px 20px;
  border-radius: 30px;
  color: #222222;
  transition: all .3s;
}

#active:checked~.wrapper ul li a.lan:hover{
  background: #222222;
  color: #fff;
  clear: both;
  box-shadow: 0 0 10px 0 #2CFEB9 inset, 0 0 10px 4px #2CFEB9;
}

#active:checked~.wrapper ul li a.lan::after{
  display: none;
}


#active:checked~.wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
  /* easeOutBackを緩めた感じ */
  transition-delay: .6s;
  transform: translateX(-100px);
}


/* home */
#home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

#home .main_vid video{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#home .main_area{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding-top: 2%;
}

#home .main_area h2{
  color: #2CFEB9;
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 5%;
}

#home .main_area .main_txt{

}

#home .main_area .main_txt b{
  font-size: 2rem;
}
#home .main_area .main_txt p{
  font-size: 1.5rem;
  padding-top: 5%;
}


#down{
  background-color: #151724;
  width: 100%;
  height: 100%;
  padding:80px 0 ;
  box-sizing: border-box;

}

#down .down_area {
    display:  flex;
  align-items: center;
  justify-content: space-around;
}

#down .down_area button{
  background-color: #2CFEB9;
  width: 20%;
  padding: 1%;
  border-radius: 10px;
  transition:all .3s;
}

#down .down_area button a {
  font-size: 1.5rem;
  color: #1B2E5D;
}
#down .down_area button a i{
  font-size: 2rem;
}

#down .down_area button:hover{
  background-color: #151724;
  box-shadow: 0 0 10px 0 #2CFEB9 inset, 0 0 10px 4px #2CFEB9;
}

#down .down_area button:hover a{
  color:#fff;
}

/* coin */
#coin{
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-color: #151924;
  position: relative;
}

#coin::before{
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background: url(../img/coin_bg.png) no-repeat;
}

#coin .coin_area{
  position: relative;  
}
#coin .coin_area h3{
  position: relative;
}
#coin .coin_area h3::after{
  content: "";
  width:10px;
  height:100%;
  position: absolute;
  top: 0;
  left: -3%;
  display: block;
  background-color: #2CFEB9
}

#coin .coin_area .chart_area{
  display: flex;
  justify-content: center;
  align-items: center;
}

#coin .coin_area div.chart{
  display:flex;
  justify-content: center;
  width:50%;
}

#coin .coin_area div.chart canvas#myChart{
  padding-top: 10px;
  max-width: 500px;
  max-height: 500px;
  border: none;
}

#coin .coin_area .chart_data{
  width: 50%;
  background:rgba(26, 26, 26, 0.47);
  padding: 4% 2%;
  color: #fff;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#coin .coin_area .chart_data ul{
  height:100%;
}

#coin .coin_area .chart_data ul li{
  line-height: 4;
  display:flex;
  align-items: center;
  font-weight: 500;
}

#coin .coin_area .chart_data ul li span{
  content: "";
  width:30px;
  height:30px;
  background-color: #018383;
  display: block;
  margin-right: 10px;
}

#coin .coin_area .chart_data ul li:nth-child(2) span{
  background-color: #02A8A8;
}

#coin .coin_area .chart_data ul li:nth-child(3) span{
  background-color: #42E6A4;
}

#coin .coin_area .chart_data ul li:nth-child(4) span{
  background-color: #00FFAB;
}

#coin .coin_area .chart_data ul li:nth-child(5) span{
  background-color: #14C38E;
}

#coin .coin_area .chart_data ul li:nth-child(6) span{
  background-color: #B8F1B0;
}


#coin .coin_area .chart_txt{
  width: 50%;
}

#coin .coin_area .chart_txt ul{
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

#coin .coin_area .chart_txt ul li{
  width: 50%;
  line-height: 2;
  font-size: 1.2em;
}




/* roadmap */

#roadmap{
  width: 100%;
  height: 100%;
  position: relative;
  overflow:hidden;
  background-color: #EDEDED;
}

#roadmap::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 25%;
  background:url(../img/rm_bg.png)no-repeat center;
  background-size: cover;
}


#roadmap .roadmap_area{
  padding: 120px 0;
  position: relative;
  text-align: center;
}

#roadmap .roadmap_area .road_box{
  display: flex;
  width:100%;
  justify-content: space-between;
  padding: 15% 0;
}

#roadmap .roadmap_area .road_box .box{
  width:420px;
  height:420px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  transition:all 0.5s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#roadmap .roadmap_area .road_box .box:hover{
  transform: scale(1.1);
}

#roadmap .roadmap_area .road_box .box h4{
  display:block;
  color:#222222;
  font-weight: 600;
  font-size: 2em;
  padding: 10px 50px;
  background-color: #2CFEB9;
  border-radius: 30px;
  position:absolute;
  bottom: -29.5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#roadmap .roadmap_area .road_box .box ul li{
  line-height: 2;
}

#roadmap .roadmap_area .road_box .box ul li b{
  color: #2CFEB9;
  font-size: 1.2rem;
}

#roadmap .roadmap_area .road_box .box.fi{
  background:url(../img/road_bg1.png) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#roadmap .roadmap_area .road_box .box.fi::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.64);
  z-index: -1;
}

#roadmap .roadmap_area .road_box .box.se{
  background:url(../img/road_bg2.png) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#roadmap .roadmap_area .road_box .box.se::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.64);
  z-index: -1;
}

#roadmap .roadmap_area .road_box .box.th{
  background:url(../img/road_bg3.png) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#roadmap .roadmap_area .road_box .box.th::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.64);
  z-index: -1;
}

/* contact */
#contact{
  background-color: #363636;
  width: 100%;
  height: 90vh;
  padding: 5% 0;
  box-sizing: border-box;
  position: relative;
}

#contact .con_area{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background:linear-gradient(135deg, rgba(56,56,56,1) 0%, rgba(28,28,28,1) 100%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 3% 5%;
  overflow: hidden;
}

#contact .con_area::before{
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  background:url(../img/con_bg.png) no-repeat;
  background-size:cover;
  width:100%;
  height:100%;
  z-index: -10;
  opacity: .2;
}

#contact .con_area .con_txt_area{
  display: flex;
  width: 100%;
  color: #2CFEB9;
  height: 100%;
}

#contact .con_area .con_txt_left{
  width: 50%;
  height: 100%;
}

#contact .con_area .con_txt_left form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70%;
  justify-content: space-evenly;
}

#contact .con_txt_area .con_txt_left form input.email::placeholder, #contact .con_area .con_txt_left form textarea#message::placeholder{
  color: #2cfeb9;

}
#contact .con_txt_area .con_txt_left form input.email, #contact .con_area .con_txt_left form textarea#message{
  width:60%;
  border-bottom: 1px solid #2cfeb9;
  padding:2% 0;
}

#contact .con_area .con_txt_left form textarea#message{
  padding:0 0 20% 0;
}

#contact .con_area .con_txt_left form input.send{
  background-color: #2cfeb9;
  padding: 5px 20px;
  border-radius: 5px;
  color:#222222;
  font-weight: 500;
}

#contact .con_area .con_txt_left form input.send:hover{
  box-shadow: 0 0 10px 0 #2CFEB9 inset, 0 0 10px 4px #2CFEB9;
  background-color: #222222;
  color:#fff
}





#contact .con_area .con_txt_right{
  width: 50%;
  line-height: 2;
  height: 100%;
}

#contact .con_area .con_txt_right ul.info{
  font-weight: 500;
  font-size: 1.2rem;
}

#contact .con_area .con_txt_right ul.info li{
  font-weight: 200;
  font-size: 1rem;
}
#contact .con_area .con_txt_right ul.info i{
  padding-right: 10px;
  font-size: 2rem;
  line-height: 2;
}

#contact .con_area .con_txt_right .sns .sns_icon{
  padding-top: 20px;
}

#contact .con_area .con_txt_right .sns .sns_icon i{
  color:#fff;
  background-color: #2CFEB9;
  font-size:2rem;
  border-radius: 2px;
  margin-right: 3%;
  z-index: 999;
  transition:all .3s;
  }
  #contact .con_area .con_txt_right .sns .sns_icon i:hover{
    transform: rotateY(180deg);

  }


/* footer */

footer{
  background-color: #222222;
  padding:50px 0;
}

footer .footer_area{
  display: flex;
  justify-content: space-between;
    align-items: center;
}

footer .footer_area h4{
  color:#fff;
  display: inline-block;
  padding-right: 20px;
}

footer .footer_area .footer_w button{
  background-color:#2CFEB9;
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 10px;
  transition: all .2s;
}

footer .footer_area .footer_w button:hover{
  background-color:#222222;
  box-shadow: 0 0 10px 0 #2CFEB9 inset, 0 0 10px 4px #2CFEB9;
}

footer .footer_area .footer_w button:hover a{
  color:#fff;
}



