*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}

    @media screen and (max-width:1024px){


        .intro3_contents_wrap .intro3_box{
            font-size: 0.8em;
        }

        .intro3_box2{
            padding-bottom: 7% !important;
        }

        .intro3_box3{
            padding-bottom: 13% !important;
        }
    
        .intro3_box4{
            padding-bottom: 8% !important;
        }
    }

    @media screen and (max-width:991px){
        .intro3_contents_wrap .intro3_box{
            font-size: 1em;
        }
    }


    @media screen and (max-width:767px){
        .intro1_txt br{
            display: none;
        }

        
    }

    @media screen and (max-width:425px) {
        .intro3_contents_wrap .intro3_box p br{
            display: none;
        }

        .eng_br{
            display: block !important;
        }

    }

    @media screen and (max-width:375px) {
       
    }