*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}



h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #2DF7B6;
}

@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}



/*헤더*/


/*intro1*/


#intro1{
  width: 100%;
  background-color: #2CFEB9;
  padding: 200px 0 0;
  overflow: hidden;
  position: relative;
}

.intro1_wrap{
  width: 100%;
  height: 100%;
}

/* .triangle{
  width: 0;
  height: 0;
  border-bottom:80px solid transparent;
  border-top: 80px solid #151724;
  border-left: 1000px solid transparent;
  border-right: 1000px solid #151724;
  position: absolute;
  left: 0%;
  top: 0%;
} */


.triangle{
  width: 100%;
  height: 100%;
}

.triangle::after{
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/triangle1.png) no-repeat ;
  position: absolute;
  left: 0;
  top: 0;
}


.intro1_contents_wrap{
  display: flex;
  justify-content: space-between;

}


.intro1_car{
  width: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}

.intro1_car img{
  max-width: 80%;
  transition: all 0.5s ease-in-out ;
}


.intro1_car img:hover{
  transform: translateY(-5%);
}




.intro1_txt{
  color: #1B2E5D;
  width: 50%;
  display: inline-block;
  margin-top: 10%;
/*   display: none; */
}

.intro1_txt h3{
  color: #1B2E5D;
}

.intro1_txt strong{
  font-weight: bold;
  margin-bottom:3%;
  display: block;
}

.intro1_txt p{
  margin-bottom: 3%;
}



.brbr, .bbrr, .brbrbr{
  display: none;
}



/*intro2*/



#intro2{
  width: 100%;
  position: relative;
  text-align: center;
  padding: 250px 0 0;
  overflow: hidden;
  background: #151515;
  background: -webkit-linear-gradient(#15241B, #151515);
  background: -moz-linear-gradient(#15241B, #151515);
  background: -o-linear-gradient(#15241B, #151515);
  background: linear-gradient(#15241B, #151515);
}

.intro2_wrap{
  width: 100%;
}

/* .triangle2{
  width: 0;
  height: 0;
  border-bottom:80px solid transparent;
  border-top: 80px solid #2CFEB9;
  border-left: 1000px solid transparent;
  border-right: 1000px solid #2CFEB9;
  position: absolute;
  left: 0%;
  top: 0%;
} */

.triangle2{
  width: 100%;
  height: 100%;
}

.triangle2::after{
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/triangle2.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.intro2_bg{
  width: 100%;
  height: 100%;
}

.intro2_bg::after{
  width: 50%;
  height: 50%;
  content: "";
  position: absolute;
  left: -8%;
  top: 7.3%;
  background: url(../img/int2_bg.png) no-repeat left top;
  background-size: cover;
  border-radius: 0 50% 0 0;
  opacity: 0.8;
}

.intro2_wrap h3{
  margin-top: 5%;
}

.intro2_wrap h4{
  font-weight: bold;
  margin-bottom: 3%;
}

.intro2_wrap h4, .intro2_wrap p{
  color: #fff;
}

.intro2_img_pc, .intro2_img_m{
  margin-top: 5%;
  width: 100%;
}

.intro2_img_pc img, .intro2_img_m img{
  max-width: 60%;
}

.intro2_img_m{
  display: none;
}







/*intro3*/



#intro3{
  width: 100%;
  height: 100%;
  position: relative;
  padding:300px 0 200px;
  text-align: center;
  overflow: hidden;
}

.intro3_wrap{
  width: 100%;
}



/* .triangle3{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom:80px solid transparent;
  border-top: 80px solid #151515;
  border-left: 1000px solid #151515;
  border-right: 1000px solid transparent;
  position: absolute;
  left: 0%;
  top: 0%;
}
 */

.triangle3{
  width: 100%;
  height: 100%;
}

.triangle3::after{
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/triangle3.png) no-repeat ;
  position: absolute;
  left: 0;
  top: 0;
}

.intro3_bg{
  width: 100%;
  height: 100%;
}

.intro3_bg::after{
  width: 50%;
  height:50%;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../img/int3_bg.png) no-repeat right -100px;
  background-size: cover;
  z-index: -1;
}

.intro3_wrap h3{
  margin-bottom: 7%;
}

.intro3_contents_wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.intro3_contents_wrap .intro3_box{
  width:22%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px #ccc;
  padding: 1%;
  transition: all 0.5s ease-in-out;
}

.intro3_contents_wrap .intro3_box:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.intro3_box1{

  padding-bottom: 2.7% !important;
}
.intro3_box2{
  margin-top: 50px;
  padding-bottom: 2% !important;
}
.intro3_box3{
  padding-bottom: 5% !important;
}
.intro3_box4{
  margin-top: 50px;
  padding-bottom: 3% !important;
}




.int_box_img {
  width: 100%;
  margin-bottom: 5%;
}

.int_box_img img{
  max-width: 25%;
}

.intro3_box b{
  display: inline-block;
  margin-bottom: 5%;
}

.intro3_box p{
  font-size: 0.9em;
}