/*데탑*/
@media screen and (max-width:1440px) {
  #down .down_area button {
    width: 30%;
  }

  #home .main_vid video {
    height: 100%;
    width: auto;
    left: -20%;
  }

  #roadmap .roadmap_area .road_box .box {
    width: 360px;
    height: 380px;
  }

  .intro3_contents_wrap .intro3_box {
    width: 22%;
    height: 330px;
  }

  .intro3_wrap {
    width: 100%;
    height: auto;
    padding: 333px 0 200px;
    position: relative;
  }
}



/*노트북*/
@media screen and (max-width:1024px) {

  #home .main_vid video {
    left: -90%;
  }

  #home .main_area {
    top: 62%;
    width: 85%;
  }

  .hd_all .pc_wrap {
    display: none;
  }

  .hd_all .menu-btn {
    display: block;
  }


  .intro1_wrap {
    padding: 300px 0 100px;
  }

  .intro1_txt {
    margin-top: 0;
    font-size: 0.9em;
  }




  /*intro2*/

  #intro2 {
    padding: 150px 0 0;
  }

  .intro2_wrap {
    font-size: 0.9em;
  }

  .intro2_img_pc img,
  .intro2_img_m img {
    max-width: 80%;
  }

  .intro2_bg::after {
    top: 4.8%;
  }

  /*intro3*/

  #intro3 {
    padding: 250px 0 100px;
  }


  .intro3_wrap {
    width: 100%;
    height: auto;
    padding: 230px 0 107px;
    position: relative;
  }

  .intro3_contents_wrap .intro3_box {
    width: 23%;
    height: 270px;
  }


  .intro3_box b {
    font-size: 0.9em;
  }

  .intro3_box p br {
    display: none;
  }

  .intro3_box p {
    font-size: 0.85em;
  }

  #intro3::after {
    width: 100%;
    height: 20%;
    content: "";
    background: url(../img/triangle3.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  #roadmap .roadmap_area .road_box .box {
    width: 300px;
    height: 400px;
  }

  #contact .con_txt_area .con_txt_left form input.email,
  #contact .con_area .con_txt_left form textarea#message {
    width: 80%;
  }

  #contact {
    height: 50vh;
  }

  #contact .con_area {
    height: 80%;
  }
}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {

  #home .main_area {
    top: 50%;
  }

  #home .main_area .main_txt b {
    font-size: 1.5rem;
  }

  #home .main_area .main_txt p {
    font-size: 1rem;
  }

  #down .down_area button {
    width: 40%;
  }

  .intro1_wrap {
    padding: 238px 0 100px;
  }


  .intro1_contents_wrap {
    display: block;

  }


  .intro1_car {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
  }

  .intro1_car img {
    max-width: 90%;
  }

  .intro1_txt {
    text-align: center;
    width: 100%;
  }


  /*intro2*/



  .intro2_wrap br {
    display: none;
  }




  /*intro3*/
  .intro3_wrap {
    padding: 0;
  }

  #intro3::after {
    width: 100%;
    height: 10%;
  }

  .intro3_contents_wrap .intro3_box {
    width: 65%;
  }

  .intro3_contents_wrap .intro3_box br {
    display: block;
  }

  .intro3_contents_wrap {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .intro3_contents_wrap .intro3_box {
    height: 370px;
  }

  .intro3_contents_wrap .intro3_box:nth-child(1n) {
    margin-right: 50px;
  }

  .intro3_contents_wrap .intro3_box:nth-child(2n) {
    margin: 50px 0;
    margin-left: 50px;

  }

  .intro3_box1 {
    margin-left: 1% !important;
  }

  .intro3_box2 {
    margin-right: 1% !important;
  }

  .intro3_box3 {
    margin-left: 1% !important;
  }

  .intro3_box4 {
    margin-right: 1% !important;
  }

  .triangle3::after {
    top: -9%;
  }


  .intro3_bg::after {
    width: 100%;
    height: 20%;
    left: -10%;
  }


  #coin .coin_area .chart_txt {
    width: 100%;
  }

  #coin .coin_area .chart_area {
    flex-direction: column;
  }

  #coin .coin_area .chart_txt ul li {
    text-align: center;
  }

  #coin .coin_area .chart_data {
    width: 90%;
    margin-top: 5%;
  }

  #roadmap::before {
    position: absolute;
    top: -250px;
  }

  #roadmap .roadmap_area .road_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15% 0;
    flex-direction: column;
    align-items: center;
  }



  #roadmap .roadmap_area .road_box .box {
    width: 500px;
    height: 500px;
    margin-bottom: 10%;
  }

  #contact {
    height: 60vh;
  }

  #contact .con_area .con_txt_right ul.info li {
    font-size: 12px;
  }



}



/*모바일*/

@media screen and (max-width:767px) {

  #home .main_vid video {
    left: -54%;
  }

  #home .main_area h2 {
    font-size: 5rem;
  }

  #home .main_area {
    height: 40%;
  }

  .intro1_txt {
    font-size: 0.85em;
  }


  /*intro2*/


  .intro2_wrap {
    font-size: 0.85em;
  }

  .intro2_img_pc {
    display: none;
  }

  .intro2_img_m {
    display: block;
  }

  .intro2_bg::after {
    width: 70%;
    height: 30%;
    left: -18%;
    top: 4%;
  }


  /*intro3*/

  .triangle3::after {
    top: -12%;
  }

  footer .footer_area {
    flex-direction: column;
  }

  #coin .coin_area div.chart {
    width: 80%;
  }


}


/*모바일2*/


@media screen and (max-width:576px) {

  h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2DF7B6;
  }

  #home .main_vid video {
    left: -113%;
  }

  #home .main_area .main_txt b {
    font-size: 1.2rem;
  }

  #home .main_area .main_txt p br {
    display: none;
  }

  #down .down_area {
    flex-direction: column;
  }

  #down .down_area button {
    width: 80%;
  }

  #down .down_area button.btn_wallet {
    margin-top: 5%;
  }

  .intro1_wrap {
    padding: 100px 0 100px;
}

  #intro1 {
    padding: 0;
  }

  .intro1_txt {
    font-size: 0.75em;
  }

  .intro1_car img {
    max-width: 90%;
}

  .brbr,
  .bbrr {
    display: block;
  }

  /*intro2*/

  .intro2_wrap {
    font-size: 0.75em;
  }

  .brbrbr {
    display: block !important;
  }



  /*intro3*/

  #intro3 {
    padding: 200px 0 100px;
  }

  .triangle3::after {
    top: -17%;
  }

  

  .intro3_contents_wrap .intro3_box {
    width: 75%;
  }

  .intro3_bg::after {
    width: 100%;
    height: 24%;
    left: -8%;
    bottom: -9%;
  }


  #roadmap .roadmap_area .road_box .box {
    width: 90%;
    height: 350px;
  }

  #coin .coin_area h3 {
    margin-left: 20px;
  }



  #coin .coin_area h3::after {
    left: -6%;
  }

  #coin .coin_area .chart_txt ul li br.dis{
    display:block;
  }
  


  #contact .con_area .con_txt_area {
    flex-direction: column;
  }

  #contact {
    height: 100vh;
  }

  #contact .con_area {
    height: 90%;
  }

  #contact .con_area .con_txt_left {
    width: 100%;
    height: 45%;
  }

  #contact .con_txt_area .con_txt_left form input.email,
  #contact .con_area .con_txt_left form textarea#message {
    width: 100%;
  }

  #contact .con_area .con_txt_right {
    width: 100%;
    line-height: 2;
    height: 50%;
  }

  footer .footer_area .footer_w {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  footer .footer_area .footer_w button {
    margin-right: 0;
  }

  footer .footer_area .footer_w:last-child button {
    margin-top: 5%;
  }

}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {
  h3 {
    font-size: 1.5em;
  }

  #home .main_area h2 {
    font-size: 4rem;
  }

  .intro3_contents_wrap .intro3_box {
    height: 300px;
  }

  #roadmap .roadmap_area {
    padding: 46px 0;
}

  #contact .con_area .con_txt_right ul.info i {
    padding-right: 10px;
    font-size: 2rem;
    line-height: 1.5;
  }

  #coin .coin_area .chart_data ul li span {
    content: "";
    width: 20px;
    height: 20px;

  }

  #roadmap .roadmap_area .road_box .box ul li {
    font-size: .8rem;
  }

}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {}